<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charting data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div id="field">
      <!-- <canvas id="myChart"></canvas> -->
    </div>

    <script>
      const maxLength = 10;
      let config = {
        type: "line",
        data: {
          labels: [], // low
          datasets: [
            {
              label: "Lazer indicator",
              backgroundColor: "rgb(255, 99, 132)",
              borderColor: "rgb(255, 99, 132)",
              data: [], // column
            },
          ],
        },
        options: {
          animation: {
            duration: 0,
          },
        },
      };
      function getRandomInt(max) {
        return Math.floor(Math.random() * max);
      }
      function pushLabel(name) {
        config.data.labels.push(name);
      }
      function shiftData() {
        config.data.datasets[0].data.shift();
      }
      function pushData(value) {
        config.data.datasets[0].data.push(value);
      }
      function getLength() {
        return config.data.datasets[0].data.length;
      }

      for (let i = 0; i < maxLength; i++) {
        pushLabel(i);
      }

      setInterval(() => {
        if (getLength() >= maxLength) {
          shiftData();
        }
        pushData(getRandomInt(1000));

        const field = document.getElementById("field");
        if (field.firstElementChild) {
          field.removeChild(field.firstElementChild);
        }

        const newElement = document.createElement("canvas");
        newElement.id = "myChart";
        field.appendChild(newElement);

        new Chart(document.getElementById("myChart"), config);
      }, 500);
    </script>
  </body>
</html>
